.login {
  margin: 10%;
}

.botonera2 {
  margin-top: 15px;
  display: grid;
  margin-bottom: 15px;
}

body {
  background: url("../public/img/Fondo.jpg");
  /*background-color: white;
  background-blend-mode: luminosity;*/
}

.contenedorLogin {
  width: 30%;
  margin: 10% 25%;
  background: white;
  display: flow-root;
}

.titulo{
}

.divtitulo {
  color: white;
  text-align: center;
  font: caption;
  font-size: 150px;
  padding: 20%;
  text-shadow: 0px 0px 10px #72daf9;
  margin-top: 5rem;
}

.texto {
  color: white;
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
  width: 100%;
}

.textmenu{
  font-size: 30px;
  color: white;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-family: monospace;
}

.textmenuselect{
  font-size: 50px;
  color: rgb(0, 157, 219);
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-family: monospace;
}

.texto-clientes {
  text-align: center;
  color: #0078d4;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.contenedorCrear {
  margin: 0 auto;
  background: white;
  display: flow-root;
  padding: 2%;
  width: 50%;
}

.crear {
  margin: 2%;
  display: inline-block;
}

.titulos-cliente {
  color: #066bb8;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.botones {
  float: right;
  margin: 15px;
}

.tituloCrearCliente {
  text-align: center;
  border-bottom: inset;
  color: darkslateblue;
}

.cursorPointer {
  cursor: pointer;
}

.contenedorReserva {
  margin: 15% auto;
  background: white;
  display: flow-root;
  padding: 2%;
  width: 40%
}

.tituloServicios {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
}

.textoServicios {
  color: #cfcdcd;
  text-align: center;
  font-size: 22px;
}

.listaServicios {
  display: grid;
  color: white;
  text-align: -webkit-center;
  font-size: 20px;
  margin: 10%;
}

.cajaServicios {}

.textoNosotros {
  color: #cfcdcd;
  text-align: center;
  font-size: 22px;
  display: flex;
  margin-top: 30px;
  padding: 35px;
}

.menuSuperior {
  margin-left: 25%;
  margin-top: 3%;
}